*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial';
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  background: black;
  color: white;
}

@media (max-width: 600px) {
  body {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: inherit;
}

.marquee3k {
  border-bottom: 1px solid white;
  opacity: 0;
  transition: opacity 0.5s;
}

.marquee3k__copy {
  display: inline-block;
}

.is-init {
  opacity: 1;
}

img {
  backface-visibility: hidden;
  display: block;
  width: 100px;
}