<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SEED3000</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css -->
    <link href="/style.css" rel="stylesheet" />
    <!-- endbuild -->
  </head>
  <body>
    <div class="marquee3k" data-speed="0.25">
      <h1>Marquee3000</h1>
    </div>

    <div class="marquee3k" data-speed="0.35">
      <h2>New version, New horizons</h2>
    </div>

    <div class="marquee3k" data-speed="0.45">
      <h2>Marquees for the new millenium</h2>
    </div>

    <div class="marquee3k red" data-speed="0.15">
      <h3>
        <a href="http://github.com/ezekielaquino/Marquee3000">
          <em>(Very)</em> Available on Github
        </a>
      </h3>
    </div>

    <div class="marquee3k spin-dis" data-reverse="true">
      <h4>You won't believe what happens next1!1</h4>
    </div>

    <div class="marquee3k">
      <h4>CHECK OUT the tacky Lamborghini below the fold! Cozy outlook, financial outcomes.</h4>
    </div>

    <div class="marquee3k">
      <h4>Advanced technology technique الإنترنت</h4>
    </div>

    <div class="marquee3k" data-speed="0.15">
      <h4>Extreme controversy</h4>
    </div>

    <div class="marquee3k">
      <h4>Now fully responsive, check it out at different breakpoints!</h4>
    </div>

    <div class="marquee3k" data-speed="0.45">
      <h4>Join the Revolution: Take ownership of your life:</h4>
    </div>

    <div class="marquee3k">
      <span class="dominos">
        <span class="domino domino--letter"></span>
        <span class="domino"></span>
      </span>
    </div>

    <div class="marquee3k" data-speed="0.25">
      <h1>Marquee3000</h1>
    </div>

    <div class="marquee3k" data-speed="0.45">
      <h2>Marquees for the new millenium</h2>
    </div>

    <div class="marquee3k red" data-speed="0.15">
      <h3>
        <a href="http://github.com/ezekielaquino/Marquee3000">
          <em>(Very)</em> Available on Github
        </a>
      </h3>
    </div>

    <div class="marquee3k" data-reverse="true">
      <h4>Value propositions for humbled cats.</h4>
    </div>

    <div class="marquee3k" data-speed="0.1">
      <h4>Smell the spinning flowers.</h4>
    </div>

    <div class="marquee3k">
      <figure>
        <img src="https://doy3.ucoz.ru/3kartinki/romashka1.png" />
      </figure>
    </div>

    <div class="marquee3k">
      <h4>Reticulating splines [...]</h4>
    </div>

    <div class="marquee3k">
      <h4>첨단 기술 기법 2017</h4>
    </div>

    <div class="marquee3k" data-speed="0.4">
      <h4>Believe in Love Again™</h4>
    </div>

    <div class="marquee3k">
      <h4>Now fully responsive, check it out at different breakpoints!</h4>
    </div>

    <div class="marquee3k">
      <h4>Join the Revolution: Take ownership of your life:</h4>
    </div>

    <div class="marquee3k" data-speed="0.25">
      <h1>Marquee3000</h1>
    </div>

    <div class="marquee3k" data-speed="0.45">
      <h2>Marquees for the new millenium</h2>
    </div>

    <div class="marquee3k red" data-speed="0.15">
      <h3>
        <a href="http://github.com/ezekielaquino/Marquee3000">
          <em>(Very)</em> Available on Github
        </a>
      </h3>
    </div>

    <div class="marquee3k" data-reverse="true">
      <h4>You won't believe what happens next1!1</h4>
    </div>

    <div class="marquee3k">
      <h4>Value propositions for humbled cats.</h4>
    </div>

    <div class="marquee3k">
      <h4>Advanced technology technique</h4>
    </div>

    <div class="marquee3k">
      <h4>Extreme controversy</h4>
    </div>

    <div class="marquee3k">
      <h4>Now fully responsive, check it out at different breakpoints!</h4>
    </div>

    <div class="marquee3k">
      <h4>Join the Revolution: Take ownership of your life:</h4>
    </div>

    <div class="marquee3k marquee3k--skewed">
      <h4>Go the extra mile</h4>
    </div>

  </body>

  <script src="script.js"></script>
</html>